<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title) %>
  <%= f.input :comment %>
  <%= f.submit 'Add', class: "btn btn-outline-secondary m-auto"%>
<% end %>
